<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957707477614-kqi4nj1jf87sflm1lf42ls2knciq0l6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957707477614-kqi4nj1jf87sflm1lf42ls2knciq0l6l</string>
	<key>API_KEY</key>
	<string>AIzaSyD2U3pN3rZBJBNGI2KqM5apjsIeaZKwUa4</string>
	<key>GCM_SENDER_ID</key>
	<string>957707477614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oss.recycle</string>
	<key>PROJECT_ID</key>
	<string>my-oss-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>my-oss-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957707477614:ios:b691638245a74d4fdb7c7f</string>
	<key>DATABASE_URL</key>
	<string>https://my-oss-proj.firebaseio.com</string>
</dict>
</plist>